<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>283635354027-3bpoac43auas5igmee9bk8hendqkfv5o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.283635354027-3bpoac43auas5igmee9bk8hendqkfv5o</string>
	<key>API_KEY</key>
	<string>AIzaSyCFlT7yedqcKRfQ491uu9DZVd0rnX4O1Qo</string>
	<key>GCM_SENDER_ID</key>
	<string>283635354027</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.thatexoticbug.escala</string>
	<key>PROJECT_ID</key>
	<string>that-exotic-bug-escala</string>
	<key>STORAGE_BUCKET</key>
	<string>that-exotic-bug-escala.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:283635354027:ios:1659730c284525837aeaee</string>
	<key>DATABASE_URL</key>
	<string>https://that-exotic-bug-escala-default-rtdb.firebaseio.com</string>
</dict>
</plist>